body {
    background-color: black;
}

#galleryPage, #galleryPage body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}

#galleryPage canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 250%;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    font-size: 150%;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    font-size: 130%;
}

a {
    color:rgb(0, 207, 207);
}

li {
    font-size: 120%
}




.center {
    margin: auto;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.title-letter {
    display: inline-block;
    animation: rotate 3s infinite ease-in-out;
}

#gallery {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    pointer-events: none; 
    opacity: 0;
    animation: fadeIn 2s forwards; 
}

.splash-content {
    text-align: center;
    background: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 80%;
    pointer-events: auto; 
    font-family: 'Inconsolata'; 
}

.splash-content h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
    font-family: 'Inconsolata'; 
}

.splash-content p {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #666;
    font-family: 'Inconsolata'; 
}

.splash-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px; 
    height: auto;
    z-index: 1001; 
}

#shape-panel {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translateY(-50%);
    z-index: 1000;
}

.shape-option {
    width: 100%;
    cursor: pointer;
}

.selected {
    filter: brightness(2.2); /* Increase brightness */
}

.fade-in {
    animation: fadeIn 2s forwards;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-out {
    animation: fadeOut 2s forwards !important; 
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}